.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background: #0000;
  color: #eee;
}
.Container span {
  display: flex;
  margin: 2rem;
  text-align: center;
}
