.Container {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
background-image: url('../Banner/Banner-05-1.png');
background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .Container {
    width: 100%;
    height: 25rem;

    padding: 2rem;
  }
}
